/* MY TEMPLATE */
/* CSS Reset */
* {
	/* Outline to view layout on screen while styling | Remove after styling */
	outline: 0.0625em dashed #ff0075;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

/* declaring variables for colors */
:root {
	--dark-gray: #444;
	--very-light-gray: #f6f6f6;
	--medium-golden-yellow: #fdb827;
	--medium-gray: #7f7c82;
	--black: #000;
}

/* body */
body {
	font-family: "Work Sans", sans-serif;
	color: var(--black);
	background-color: var(--very-light-gray);
}

/* Header */
/* Navigation Bar */
/* hero */
.hero {
	display: flex;
}
.hero a {
	color: var(--dark-gray);
}
.hero a:hover {
	color: var(--medium-golden-yellow);
}
/* logo */
.logo a {
	display: flex;
	align-items: center;
	font-size: 1.875em;
	cursor: pointer;
	margin-left: 1.75em;
}
.logo-icon {
	width: 1.5em;
}
.logo-name {
	color: var(--dark-gray);
	font-size: 1.5rem;
	margin-left: 0.25em;
}
.logo-name:hover {
	color: var(--medium-golden-yellow);
}
.navbar {
	display: flex;
	position: fixed;
	width: 100%;
	max-width: 90em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	justify-content: space-between;
	align-items: center;
	background-color: var(--very-light-gray);
	z-index: 2;
}
.navbar ul {
	display: flex;
}
.navbar ul li {
	display: block;
}
.navbar ul li a {
	color: var(--dark-gray);
	letter-spacing: 0.125em;
	display: block;
	padding: 0.25em 1em;
	transition: 0.2s ease;
}
ul li:hover a {
	background: var(--medium-golden-yellow);
	color: var(--very-light-gray);
}

/* Home */
.page {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.page .text {
	position: relative;
	z-index: 1;
	font-size: 1.75rem;
	color: var(--very-light-gray);
}
.feel {
	padding-top: 0.25em;
	padding-bottom: 0.5em;
}
.page .image {
	position: absolute;
	background: url(https://c4.wallpaperflare.com/wallpaper/534/808/26/cat-kitten-family-kiss-two-gray-and-black-coated-cats-wallpaper-preview.jpg);
	width: 100%;
	height: 100%;
	transform: scaleX(-1);
	background-position: center;
	background-size: cover;
	filter: brightness(50%);
}

/* Features | How it works | Fresh food | On board | More Info */
.part {
	position: relative;
	min-height: 100vh;
	padding: 1em 0;
	width: 100%;
}
.part h2 {
	font-size: 2.5rem;
	margin: 1em 1em;
	position: relative;
}
.part:nth-child(odd) {
	background: var(--medium-gray);
	color: var(--very-light-gray);
}
.part:nth-child(3) {
	background: var(--medium-golden-yellow);
	color: var(--dark-gray);
}

/* Features */
.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1em;
}
#features {
	min-height: 25vh;
}
.card {
	flex-basis: 20%;
	text-align: center;
	padding: 1em;
	min-width: 10em;
}
.card img {
	width: 4em;
	margin-bottom: 1em;
}
.card h4 {
	margin-bottom: 1em;
}
.card p {
	padding: 0.5em;
}

/* How it works */
.how {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.how-card {
	flex-basis: 20%;
	text-align: center;
	padding: 3em;
	border-radius: 0.25em;
	min-width: 10em;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 1.25em;
}
.how-card img {
	width: 3em;
	margin-bottom: 1em;
}
.how-card h3 {
	margin-bottom: 1em;
}
#how-it-works {
	min-height: 50vh;
}

/* Fresh food */
#video {
	display: block;
	margin: 1.5em auto;
}
.meal {
	font-size: 1.75rem;
	margin: 0.5em 3em;
	text-align: justify;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.product-container .product {
	flex-basis: 30%;
	text-align: center;
	color: var(--dark-gray);
	min-width: 15em;
	padding: 2em;
	margin-bottom: 1em;
}
.product img {
	width: 8em;
	margin-bottom: 1em;
}
.product h3 {
	font-size: 2rem;
}
.product .food {
	font-size: 1.25rem;
	padding: 1em;
}
.btn {
	font-size: 1.25rem;
	color: var(--dark-gray);
	background-color: var(--medium-golden-yellow);
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	display: inline-block;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover {
	background-color: var(--dark-gray);
	color: var(--very-light-gray);
}

/* On board */
.on-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.get {
	font-size: 2rem;
	color: var(--medium-golden-yellow);
	margin-top: 1em;
}
input[type="email"] {
	max-width: 20em;
	width: 100%;
	padding: 0.75em;
	border-radius: 0.25em;
	margin-bottom: 1.5em;
}
input[type="submit"] {
	margin-bottom: 1.25em;
}
.button {
	font-weight: 900;
	color: var(--dark-gray);
	background-color: var(--medium-golden-yellow);
	padding: 0.75em 3em;
	border-radius: 2em;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.button:hover {
	background-color: var(--dark-gray);
	color: var(--very-light-gray);
}
#on-board {
	min-height: 50vh;
}

/* More Info */
#more-info {
	min-height: 25vh;
	color: var(--dark-gray);
}
.more-info-part {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.more-info {
	flex: 1 1 auto;
	padding: 1em;
	line-height: 2em;
}
.more-info p {
	font-size: 0.9rem;
}
.more-info a {
	color: var(--dark-gray);
}
#support i {
	padding-right: 0.5em;
}
.social {
	display: flex;
}
.social i {
	font-size: 1.25rem;
	padding-right: 2em;
}
.copyright {
	display: flex;
	justify-content: flex-end;
	margin-right: 1.25em;
	margin-bottom: 1em;
}
.left-pad {
	padding-left: 2em;
}

/* Footer */
footer {
	background-color: var(--dark-gray);
	padding: 0.75em;
	color: var(--very-light-gray);
	text-align: center;
	font-size: 0.75rem;
}

@media screen and (min-width: 1440px) {
	body {
		width: 100%;
		max-width: 90em;
		margin: 0 auto;
	}
}
